<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SF-CDA - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-100 dark:text-white dark:bg-gray-900">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div data-controller="alert"
                 class="flash-message flash-{{ label }} fixed top-4 right-4 flex gap-2 items-center z-99" role="alert">
                <div class="icon">
                    {% if label == "success" %}
                        {{ ux_icon('lucide:badge-check', {height: "20px", width: "20px"}) }}
                    {% elseif label == "notice" %}
                        {{ ux_icon('lucide:badge-info', {height: "20px", width: "20px"}) }}
                    {% else %}
                        {{ ux_icon('lucide:badge-alert', {height: "20px", width: "20px"}) }}
                    {% endif %}
                </div>
                <div>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
        <header class="bg-white dark:bg-gray-800 shadow">
            <nav>
                <div class="container mx-auto px-4 py-2">
                    <div class="flex items center justify-between">
                        <a href="{{ path('app.home') }}" class="text-2xl font-bold text-gray-800 dark:text-white">MyApp</a>
                        <div class="flex space-x-4">
                            <a href="{{ path('app.home') }}" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">Home</a>
                            {% if app.user %}
                                <a href="{{ path('app.profile.index') }}" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">Profile</a>
                                <a href="{{ path('auth.oauth.logout') }}" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">Logout</a>
                            {% else %}
                                <a href="{{ path('app.register') }}" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">Register</a>
                                <a href="{{ path('auth.oauth.login') }}" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
